body {
    background-color: #051126
}
tr,td {
    width: 100px;
}
button {
    transition: background-color 0.3s ease;
    width: 100%;
    background-color: #945e89;
    color: rgba(255, 255, 255, 0.903);
    font-size: 80px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 1px 1px 2px 3px rgb(3, 0, 0);
    border-color: #a4bcbc;
}
button:hover {
    background-color: #a4bcbc;
    box-shadow: 0px 0px 10px 3px #a4bcbc;
}
#uno {
    font-size: 60px;
}
#text {
    color: white;
    font-size: 70px;

}
#box {
    background-color: #004654;
    border-radius: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 100px 100px #360139;;
}